<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @speaker.name %>
</p>

<p>
  <b>Title:</b>
  <%= @speaker.title %>
</p>

<p>
  <b>Organization:</b>
  <%= @speaker.organization %>
</p>

<p>
  <b>Bio:</b>
  <%= @speaker.bio %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
